@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");

.contact {
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2014/12/30/18/54/mountains-584280_1280.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 7px 10px #022b31;
  border-radius: 3px;
  &__form {
    margin: 1em;
  }
  button {
    margin: 1em;
  }
  &__field {
    margin: 9px 9px !important;
  }
  h2 {
    font-family: "Jura", sans-serif;
  }
}
